{
  "extends": [
    "@basis-theory/eslint-config/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "rules": {
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "import/no-named-as-default-member": "off",
        "import/group-exports": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    }
  ]
}
