name: Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  lint-test-build:
    name: Lint, Test and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node 18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint

      - name: Unit Test
        run: yarn test

      - name: Build
        run: yarn build
