name: Release

on:
  push:
    branches: [ master ]

jobs:
  build-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC NPMJS uses OIDC Trusted Publishing
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.SEMANTIC_RELEASE_PAT }}

      - name: Use Node 18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org

      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1

      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_PAT }}

#      - name: Slack Deploy / Release Alert
#        uses: 8398a7/action-slack@v3
#        if: always()
#        with:
#          status: ${{ job.status }}
#          channel: ${{ secrets.SLACK_RELEASE_CHANNEL_ID }}
#          fields: 'repo,commit,message,workflow,job'
#        env:
#          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
